/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* pywal - Simple */

@define-color foreground #e3dee0;
@define-color background #05050A;
@define-color cursor #e3dee0;
@define-color color0 #05050A;
@define-color color1 #3E4BB0;
@define-color color2 #626396;
@define-color color3 #8D769E;
@define-color color4 #718DB1;
@define-color color5 #A599A7;
@define-color color6 #C9BDBE;
@define-color color7 #e3dee0;
@define-color color8 #9e9b9c;
@define-color color9 #536872;
@define-color color10 #626396;
@define-color color11 #8D769E;
@define-color color12 #718DB1;
@define-color color13 #A599A7;
@define-color color14 #C9BDBE;
@define-color color15 #e3dee0;
@define-color color16 #000000; /*black*/
@define-color color17 #FFFFFF; /*white*/
@define-color color18 #FFFF00; /* yellow*/
@define-color color19 #ADD8E6; /*light blue*/
@define-color color20 #1F51FF; /*neon blue*/
@define-color color21 #645394; /*purpleish*/
@define-color color22 #A1DDAE; /*mint green*/
@define-color color23 #3B3B3B; /*dark gray*/
@define-color color24 #FF4D4D; /*redish*/
@define-color color25 #222222; /*darker gray*/
@define-color color26 #141414; /*darkest gray*/
/* @import '../../../.cache/wal/colors-waybar.css'; */

*{
font-family: "JetBrainsMono Nerd Font";
opacity: 1;
font-weight: bold;
min-height: 0;
/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
font-size: 102%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
padding-top: 0px;
padding-bottom: 0px;
}

window#waybar {
	background: @color16;
	opacity: 0.5;
	border-radius: 30px;
	border-width: 0px;
}

/*#waybar.empty, #waybar.tiled, #waybar.floating {
background-color: @color17;
opacity: 0.7;
}*/

tooltip {
	color: @color17;
	background: @color16;
	opacity: 0.65;
	border-radius: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: @color15;
}
/*-----modules----*/

.modules-center {
	background-color: @color25;
	opacity: 9.;
	border: .25px solid @color17;
	margin: 3px 0px 3px 0px;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;

}

.modules-right {
	background-color: @color25;
	opacity: 9.;
	border: .25px solid @color17;
	margin: 3px 3px 3px 0px;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3px;
	padding-left: 0px;

}



/*-----groups----*/

#apps-files {
	background-color: @color25;
	opacity: 9.;
	border: .25px solid @color17;
	margin: 3px 3px 3px 3px;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 1px;
	padding-left: 0px;
}

/*#adj-hw-merge {
	background-color: @color23;
	opacity: 7.;
	border: .25px solid @color17;
	margin: 3px 0px 3px 0px;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#tray-power {
	background-color: @color23;
	opacity: 7.;
	border: .25px solid @color17;
	margin: 3px 3px 3px 0px;
	border-radius: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3px;
	padding-left: 0px;
}
*/


/*-----modules indv----*/

#workspaces {
	background-color: @color25;
	opacity: 9.;
	margin: 3px 0px 3px 0px;
	padding: 0px 15px 0px 10px;
	border-radius: 30px;
  	border: solid .33px @color17;
    font-weight: normal;
  	font-style: normal;
  	font-size: 22
}



#workspaces button.persistent {
	color: @color22;
	opacity: 1;
	/*background-color: @color5;*/
    border-radius: 90px;
    padding-left: 3px;
    padding-right: 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all .1s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
	color: @color24;
	opacity: 1;
	/*background-color: @color5;*/
    border-radius: 90px;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all .1s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    color: @color18;
    opacity: 1;
    background-color: @color23;  
    border-radius: 90px;
    padding-left: 0px;
    padding-right: 0px;
    animation: gradient_f 20s ease-in infinite;
    transition: all .4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    color: @color20;
    animation-name: blink;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/

}

#workspaces button:hover {
    color: @color17;
}


#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#disk,
#mpris,
#network,
#pulseaudio,
#pulseaudio-microphone,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#custom-backlight,
#custom-changewaybar,
#custom-changewaybarcss,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
	color: @color17;
	opacity: 1.;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 6px;
	padding-left: 6px;
}

#custom-menu  {
	color: @color17;
	opacity: 1.;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-weight: normal;
  	font-style: normal;
  	font-size: 24

}
#adjustables {
	padding-left: 0px;
	padding-right: 0px;
}


#backlight {
	padding-left: 0px;
	padding-right: 0px;
}

#tray {
	padding-left: 7px;
	padding-right: 4px;
}

#pulseaudio {
	padding-left: 15px;
	padding-right: 10px;
}
#pulseaudio-microphone  {
	padding-left: 0px;
	padding-right: 11px;
}


#mode {
	color: #cc3436;
	font-weight: bold;
}
#custom-power {
	padding: 0px 0px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
	color: #2dcc36;
}
#pulseaudio.muted {
	color: #cc3436;
}
#pulseaudio-microphone.muted {
	color: #cc3436;


}
#temperature.critical {
    background-color: #ff0000;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#taskbar button.active {
	color: transparent;
    background-color: @color25;
	border-radius: 20px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
	color: @color16;
    padding-left: 3px;
    padding-right: 3px;
	border-radius: 15px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 5px;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 5px;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 5px;
}